# Locale
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-dev
d-i netcfg/get_domain string local
d-i netcfg/disable_autoconfig boolean false

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Clock
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

# User
d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string Developer
d-i passwd/username string dev
d-i passwd/user-password password dev
d-i passwd/user-password-again password dev


# ------------------------------------------------------------
# User
# ------------------------------------------------------------

d-i passwd/root-login boolean false

d-i passwd/make-user boolean true
d-i passwd/user-fullname string Developer
d-i passwd/username string dev

d-i passwd/user-password password dev
d-i passwd/user-password-again password dev

# Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Packages
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server sudo curl ca-certificates
d-i pkgsel/upgrade select none

# SSH
d-i openssh-server/permit-root-login boolean false

# GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

# Finish
d-i finish-install/reboot_in_progress note

# SSH key
d-i pkgsel/include string openssh-server

d-i preseed/late_command string \
    in-target mkdir -p /home/dev/.ssh; \
    in-target sh -c "echo '__SSH_PUBLIC_KEY__' > /home/dev/.ssh/authorized_keys"; \
    in-target chown -R dev:dev /home/dev/.ssh; \
    in-target chmod 700 /home/dev/.ssh; \
    in-target chmod 600 /home/dev/.ssh/authorized_keys